/** @format */

:root {
}

.animate-text-shimmer {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 300% 100%;
  animation: jobby-text-shimmer 5s linear infinite;
}

.animate-text-shimmer-primary {
  background-image: linear-gradient(
    105deg,
    #666 0%,
    #666 45%,
    white 50%,
    #666 55%,
    #666 100%
  );
}

@keyframes jobby-text-shimmer {
  from {
    background-position: 220% 0;
  }
  to {
    background-position: -220% 0;
  }
}

.animate-skeleton-shimmer {
  background-color: var(--jobby-color-surface);
  background-image: linear-gradient(
    105deg,
    #66666655 0%,
    #66666641 45%,
    rgba(255, 255, 255, 0.37) 50%,
    #66666641 55%,
    #66666655 100%
  );
  background-size: 600% 100%;
  animation: jobby-skeleton-shimmer 4s linear infinite;
}

@keyframes jobby-skeleton-shimmer {
  from {
    background-position: 220% 0;
  }
  to {
    background-position: -220% 0;
  }
}
