@layer base {
    :root {
        --border-raw: #e2e8f061;
        --input-raw: #e2e8f000;
        --ring-raw: #0f4c81;

        --radius-sm-raw: 0.125rem;
        --radius-md-raw: 0.375rem;
        --radius-lg-raw: 0.5rem;
        --radius-xl-raw: 1rem;
        --radius-2xl-raw: 1.5rem;
        --radius-3xl-raw: 2.5rem;
    }

    .dark {
        --border-raw: #2e2e2e;
        --input-raw: #2e2e2e;
        --ring-raw: #3a7bd5;
    }
}