/**
 * Base Configuration
 *
 * @format
 */
@import './config/palette.css';
@import './config/backgrounds.css';
@import './config/text.css';
@import './config/rounded.css';
@import './config/radius.css';
@import './config/spacing.css';
@import './config/padding.css';

/* Component Customizations */
@import './customize/badge.css';
@import './customize/text.css';
@import './customize/components.css';
@import './customize/button.css';
@import './customize/scrollbar.css';

@layer utilities;

.animate-text-shimmer {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  background-size: 300% 100%;
  animation: text-shimmer 5s linear infinite;
}

.animate-text-shimmer-primary {
  background-image: linear-gradient(
    105deg,
    #666 0%,
    #666 45%,
    white 50%,
    #666 55%,
    #666 100%
  );
}

@keyframes text-shimmer {
  from {
    background-position: 220% 0;
  }

  to {
    background-position: -220% 0;
  }
}

@utility shadow-text {
  position: relative;
  z-index: 2;
  text-shadow:
    0 2px 4px rgba(var(--background-primary), 0.8),
    0 0 12px rgba(var(--background-primary), 0.9);
}

@utility shadow-brand {
  box-shadow:
    0 0 40px 0px color-mix(in srgb, var(--primary) 40%, transparent),
    0 0 80px -10px color-mix(in srgb, oklch(0.65 0.2 300) 30%, transparent),
    0 0 120px -20px color-mix(in srgb, oklch(0.6 0.18 250) 20%, transparent);
}
